yaml-files:
  - '*.yaml'
  - '*.yml'
extends: default
rules:
  new-lines: disable
  indentation:
    spaces: 2
    indent-sequences: consistent
  line-length:
    max: 120
    level: warning
    allow-non-breakable-inline-mappings: true
  key-duplicates: enable
  document-start: disable
  empty-lines:
    max: 2
    max-start: 0
    max-end: 1
  comments-indentation: disable
  braces: disable
  trailing-spaces: disable
  quoted-strings: disable
