site_name: PersonaX Documentation
site_description: A Python toolkit for managing, converting, and annotating object detection datasets
site_author: BoChenSHEN
site_url: https://6ixgodd.github.io/personax
repo_name: 6ixGODD/personax
repo_url: https://github.com/6ixGODD/personax
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2025 BoChenSHEN
theme:
  name: material
  language: en
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      # Dark mode

      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - navigation.expand
    - navigation.footer
    - navigation.indexes
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye
    logo: material/package-variant-closed
extra:
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/6ixGODD
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/personax
  analytics:
    provider: google
    property: !ENV GOOGLE_ANALYTICS_KEY
extra_css:
  - assets/stylesheets/extra.css
extra_javascript:
  - assets/javascripts/extra.js
markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - toc:
      permalink: true
      title: On this page
  - pymdownx.arithmatex:
      generic: true
    # Python Markdown Extensions
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
plugins:
  - search:
      lang: en
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            docstring_section_style: table
            show_root_heading: true
            show_root_full_path: false
            show_source: true
            show_category_heading: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            members_order: source
            group_by_category: true
            show_if_no_docstring: false
            show_signature: true
            show_signature_annotations: true
            separate_signature: true
            signature_crossrefs: true
            merge_init_into_class: true
            inherited_members: false
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true
nav:
  - Home: index.md
  - API Reference:
      - reference/index.md
      - PersonaX Core: reference/core.md
      - PersonaX Orchestrator: reference/orch.md
      - Completion System:
          - reference/completion/index.md
          - OpenAI Completion: reference/completion/openai.md
      - Context System:
          - reference/context/index.md
          - Profile Context: reference/context/profile.md
      - Resource:
          - reference/resource/index.md
          - RESTful Resource:
              - reference/resource/restful/index.md
              - IP Location Service:
                  - reference/resource/restful/ip/index.md
                  - Baidu IP Location Service: reference/resource/restful/ip/baidu.md
              - Weather Info Service:
                  - reference/resource/restful/weather/index.md
                  - Amap Weather Info Service: reference/resource/restful/weather/amap.md
      - Tools System:
          - reference/tools/index.md
          - Weather Tool: reference/tools/weather.md
      - Ops:
          - reference/ops/index.md
      - Types:
          - reference/types/index.md
          - Completion Types: reference/types/completion.md
          - Completion Chunk Types: reference/types/completion_chunk.md
          - Context Types: reference/types/context.md
          - Message Types: reference/types/message.md
          - Stream Types: reference/types/stream.md
          - Usage Types: reference/types/usage.md
          - OpenAI-Compat Types:
              - reference/types/compat/index.md
              - OpenAI-Compat Message Types: reference/types/compat/message.md
              - OpenAI-Compat Tool-Calls Types: reference/types/compat/tool_calls.md
      - Exceptions: reference/exceptions.md
  - Changelog: changelog.md
